[Unit]
Description=Virsh-Api-Server
ConditionPathExists=/Virsh-Api-Server
After=network.target

[Service]
User=root
Group=root
ExecStartPre=/bin/chmod u+x /Virsh-Api-Server/Virsh-Api-Server
ExecStartPre=/bin/chmod u+x /Virsh-Api-Server/getVmStatus.sh
ExecStart=/Virsh-Api-Server/Virsh-Api-Server
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target